@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.main {
    height: 550px;
    width: 100%;

    color: white;
}

.section {
    height: 100%;
    width: 100%;
}

.backdrop {
    object-fit: cover;
    width: 100%;
    height: 100%;

    margin-top: 90px;
    
}

.gradient {
 

    position: absolute;

    width: 100%;
    height: 550px;
}

.backdrop-btn {
    background-color: #5D737E;
    color: white;

    border: none;

    padding: 20px;
    border-radius: 10px;

    cursor: pointer;

    margin: 10px;

    font-family: 'Lato', sans-serif;
}

.info {
    position: absolute;

    font-family: 'Lato', sans-serif;

    width: 100%;

    top:20%;
    padding: 16px;

}

.movie-title {
    font-size: 1.875rem; 
    line-height: 2.25rem; 

   
}

.released {
    color: white;
    font-family: 'Lato', sans-serif;

    font-size: 0.875rem; 
    line-height: 1.25rem; 
}

.overview {
    color: white;
    font-family: 'Lato', sans-serif;

    width: 90%;
   
}